/* * HOME BANNER */

.cms__home__flex__containner {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.cms__home__flex__item_left {
	flex-grow: 1;
	/* border: 1px solid red; */
}

.cms__home__flex__item_right {
	width: 45%;
	height: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
	background-color: rgb(220, 221, 221);
	border-radius: 5px;
}

.save_button {
	margin-top: 2rem;
	width: 6rem;
}

@media only screen and (max-width: 768px) {
	.cms__home__flex__containner {
		flex-direction: column;
	}

	.cms__home__flex__item_right {
		height: auto;
		width: 100%;
		display: flex;
	}

	.save_button {
		width: 100%;
	}
}




/* * HOME RECOGNITION AND AWARD */