


/* ! HOME RECOGNITION STYLE */
.home_recognition {
	margin-bottom: 1rem ;
}

.home_recognition .ql-container {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	/* background: #fefcfc; */
}

/* Snow Theme */
.home_recognition .ql-snow.ql-toolbar {
	display: block;
	background: #eaecec;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.home_recognition .ql-editor {
	min-height: 12.3em;
}


/* ! CONTACT US HEADQUATER STYLE */
.contactus__headquater {
	margin-bottom: 1rem ;
}

.contactus__headquater .ql-container {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	/* background: #fefcfc; */
}

/* Snow Theme */
.contactus__headquater .ql-snow.ql-toolbar {
	display: block;
	background: #eaecec;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.contactus__headquater .ql-editor {
	min-height: 11em;
}


/* ! PARTNER MODEL STYLE */
.partner__model {
	margin-bottom: 1rem ;
}

.partner__model .ql-container {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	/* background: #fefcfc; */
}

/* Snow Theme */
.partner__model .ql-snow.ql-toolbar {
	display: block;
	background: #eaecec;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.partner__model .ql-editor {
	min-height: 20em;
}




