.ql-container {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	/* background: #fefcfc; */
}

.ql-snow.ql-toolbar {
	display: block;
	background: #eaecec;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}


/* ! HOME RECOGNITION STYLE */
.home_recognition {
	margin-bottom: 1rem;
}

.home_recognition .ql-editor {
	min-height: 12.3em;
}



/* ! CONTACT US HEADQUATER STYLE */
.contactus__headquater {
	margin-bottom: 1rem;
}

.contactus__headquater .ql-editor {
	min-height: 11em;
}


/* ! PARTNER MODEL STYLE */
.partner__model {
	margin-bottom: 1rem;
}

.partner__model .ql-editor {
	min-height: 20em;
}



/* ! CAREER STYLE */
.career__make__impact {
	margin-bottom: 1rem;
}

.career__make__impact .ql-editor {
	min-height: 6em;
}

.career__make__impact__head .ql-editor {
	min-height: 20em;
}

/* ! CAREER LIFE AT AGILE GLOBAL */
.career__life__at__agile {
	margin-bottom: 1rem;
}

.career__life__at__agile .ql-editor {
	min-height: 12em;
}